@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "nav";
@import "variables";

@mixin button-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    border: none;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    &:hover {
        background-color: #d4c70c;
    }
}
.content {
    padding: 20px;
    text-align: center;
}



img {
    max-width: 100%;
    height: auto;
}
  

section {
    img {
        height: 400px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: light
}


envios.body {
    background-color: light;
}


.galeria-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 2fr); 
    gap: 10px; 
    padding: 10px;
    .producto{
        background-color: grey;
        padding: 20px;
        margin: 20px;
        border: 2px solid #000000;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        img {
            max-width: 100%;
            height: 0 auto;
            border-radius: 5px;
            margin-bottom: 15px;

        }

    }

}

.agregar-al-carrito {
    @include button-style($primary-color, rgb(0, 0, 0));
}

button.pago {
    @include button-style($primary-color, rgb(0, 0, 0));
    height: 60px;
    width: 200px;
}


button.button-index {
    @include button-style($primary-color, rgb(0, 0, 0));
    width: 30%;
}

h3 {
    color: rgb(0, 0, 0);
}

main {
    h1 {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: $primary-color;
    }
}


.pasos {
    padding: 30px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
}

.carrito {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carrito-1{
    padding: 30px;
}

.producto-carrito{
    img{
        padding-left: 32%;
    }
}


.envios-container,
.contacto-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: grey;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input,textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid $primary-color;
    border-radius: 4px;
}

.submit-btn {
    @include button-style($primary-color, black);
}


label {
    line-height: 1.6;
    color: #555;
}


.social-icons a {
    margin-right: 10px;
    text-decoration: none;
}


footer {
    color: white;
}

@media (max-width: 768px) {
    
    .galeria-contenedor {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 25px;
    }

    .producto {
        width: 100%;
    }
}


@media (max-width: 480px) {
    .galeria-contenedor {
        grid-template-columns: 1fr; 
        margin-right: 27px
    }

    .producto {
        width: 100%;
    }

    iframe {
        width: 200px;
        height: 150px;;
    }
}



@media (max-width: 768px) {
    .navbar ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .logo-container {
      text-align: center;
    }
    .container-fluid .row {
      flex-direction: column;
    }
    .col-6 {
      width: 100%;
    }

    iframe {
        width: 300px;
        height: 200px;
    }
  }

